header {
	position: fixed;
	width: 100%;
	top:0px;
	left:0px;
	background-color: grey;
	text-align: center;
	height:70px;
}
body {
	position:relative;
	top:70px;
  background-color: darkgrey;

}
p { color:white}
h1 {
	font-size: 1.4em;
}
footer {
	position:fixed;
	text-align: center;
	background-color: grey;
	bottom: 0;
	right: 0;
	width: 100%;
}
table,
td {
    border: 2px solid black;
		padding: 1px, 5px, 1px, 5px;
}

thead,
tfoot {
}


#NotUsed {
	width=100%;
	outline: solid black 2px;
  padding-top: 20px;
	padding-bottom: 20px;

}
#NotUsed {
	width=100%
	outline: solid black 2px;
}
#NotUsed {
	margin-left:20px;
	margin-right: 20px;
}
