{% extends "base.html" %}
{% block content %}

{%if hasError %} <p><strong><font color="red"> {{hasError}} </font></strong></p> {%endif%}

{% with messages = get_flashed_messages() %}
{% if messages %}
<br>
{% for message in messages %}
<div class=flash>{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}


<table id="roomlist">
  <thead>
      <tr>
          <th colspan="2">Liste des Chambres disponibles : </th>
      </tr>
  </thead>

  <tbody>
    <tr>
      <td>ID#</td>
      <td>Tarif</td>
      <td>Nom</td>
      <td>étage</td>
      <td>vue</td>
      <td>couche</td>
      <td>salle de bain</td>
    </tr>
    {%if rows %}
      {% for row in rows %}
      <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}} €/Nuit </td>
	  {%if desc %}
	  	{% for chambre in desc %}	  
	      		{%if row[0]== chambre.chambre_id %}
			<td>{{chambre.nom}}</td>
			<td>{{chambre.étage}}</td>
			<td>{{chambre.vue}}</td>
			<td>{{chambre.couchage}}</td>
			<td>{{chambre.salledebain}}</td>		
	      		{%endif%}
	  	{% endfor %}
	  {%endif%}
 
	
      </tr>
      {% endfor %}
    {%endif%}
  </tbody>
</table>
<br>
<form method="POST" action="{{url_for('confirm_reserv')}}">
{%if rows %}
<label>Choisissez une chambre disponible :</label><br>
<select id="chambreID" type="text" name="chambreID">
  {% for row in rows %}
  <option value={{row[0]}}>{{row[0]}}</option>
  {% endfor %}
</select><br>
{% endif %}
{%if rows %}
<label> Une durée: (au moins une journée, et pas avant aujourd'hui)</label><br>
<input id="date_debut" type="date" name="date_debut" min="{{date}}" required>
<input id="date_fin" type="date" name="date_fin" min="{{tomorrow}}" required>
{%endif%}
<input type="submit" value="Soumettre" />
</form>

<p>Alternativement,</p>
 <br>
 <a href="{{url_for('back_to_menu')}}">Retour au menu</a><br>
 <a href="/flask">Retour à l'écran d'accueil</a><br>

{% endblock %}
