{% extends "base.html" %}
{% block content %}

{%if hasError %} <p><strong><font color="red"> {{hasError}} </font></strong></p> {%endif%}

{% with messages = get_flashed_messages() %}
{% if messages %}
<br>
{% for message in messages %}
<div class=flash>{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<p>Nous sommes le {{jour}}/{{mois}}/{{annee}}.</p>
<p>Bienvenue, <b>{{session['name']}}</b>, que voulez vous faire aujourd'hui ?</p><br>
<p>Menu D'actions :</p>
<div id=menu>
 <a href="{{url_for('choisir_conso')}}">Commander quelque chose à boire</a><br>
 <a href="{{url_for('choisir_chambre')}}">Faire une réservation</a><br>
 <a href="{{url_for('consult_reserv')}}">Consulter sa reservation</a><br>
 <a href="{{url_for('payer_reserv')}}">Payer sa reservation</a><br>
</div>

<p>Alternativement,</p>
 <br>
 <a href="/flask">Retour à l'écran d'accueil</a><br>

{% endblock %}
