{% extends "base.html" %}
{% block content %}

{%if hasError %} <p><strong><font color="red"> {{hasError}} </font></strong></p> {%endif%}

{% with messages = get_flashed_messages() %}
{% if messages %}
<br>
{% for message in messages %}
<div class=flash>{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
   {%if rows %}
  <table id="reservtlist">
    <thead>
        <tr>
            <th colspan="2">Liste des reservations effectuées : </th>
        </tr>
    </thead>

    <tbody>
      <tr>
        <td>Chambre</td>
        <td>Début</td>
        <td>Fin</td>
      </tr>

        {% for row in rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<br/>
{% else %}
<p>Pas de reservations à votre actif</p>
{% endif %}
{%if rows2 %}
<table id="reservtlist">
 <thead>
     <tr>
         <th colspan="2">Liste des factures  : </th>
     </tr>
 </thead>

 <tbody>
   <tr>
     <td>Somme</td>
     <td>Date</td>
   </tr>

     {% for row in rows2 %}
     <tr>
         <td>{{row[0]}} €</td>
         <td>{{row[1]}}</td>
     </tr>
     {% endfor %}

 </tbody>
</table>
<br/>
{% else %}
<p>Pas de factures à votre actif</p>
{% endif %}

<p>Alternativement,</p>
 <br>
 <a href="{{url_for('back_to_menu')}}">Retour au menu</a><br>
 <a href="/flask">Retour à l'écran d'accueil</a><br>


{% endblock %}
