{% extends "base.html" %}
{% block content %}

{%if hasError %} <p><strong><font color="red"> {{hasError}} </font></strong></p> {%endif%}

{% with messages = get_flashed_messages() %}
{% if messages %}
<br>
{% for message in messages %}
<div class=flash>{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<table id="reservtlist">
  <thead>
      <tr>
          <th colspan="2">Facture : </th>
      </tr>
  </thead>

  <tbody>
    <tr>
      <td>Chambre</td>
      <td>Début</td>
      <td>Fin</td>
      <td>tarif par nuit</td>
      <td>total chambre</td>
      <td>total consommations</td>
    </tr>
      <tr>
          <td>{{n}}</td>
          <td>{{d}}</td>
          <td>{{f}}</td>
          <td>{{t}} €</td>
          <td>{{tch}} €</td>
          <td>{{tco}} €</td>
      </tr>
  </tbody>
</table>

<p>Alternativement,</p>
 <br>
 <a href="{{url_for('back_to_menu')}}">Retour au menu</a><br>
 <a href="/flask">Retour à l'écran d'accueil</a><br>

{% endblock %}
